<<<<<<< HEAD
.grid div{
 width:50px ;
 height: 50px;
 background-color: red;
}


.header {
  background: steelblue;
  justify-content: center;
  text-align: center;
  width: 80vw;
      height: 5vw;
      font-size:5vw;
      margin: 3%;
      
     
      

  

}

body {
 
    margin:5%;
}

.play {
   background-color: greenyellow;
   margin-left: 30%;
   
}


.reset{
    background-color: rgb(201, 76, 76);
    margin: 6% 30% 5% 10%;
   
}


.grid {
   display: grid; 
   grid-area: 5%;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
   gap: 5px;
   height: 100%;
   margin: 0% 0% 0% 20%;
}
  
#item-0 {

   background-color: #A55975; 
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   
}
#item-1 {

   background-color: #57B867; 
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   
}
#item-2 {

   background-color: #7E9758; 
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   
}
#item-3 {

   background-color: #8CD5EC; 
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   
}
#item-4 {

   background-color: #96B8BB; 
   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 4;
   
}
#item-5 {

   background-color: #58EB5D; 
   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   
}





















=======



.header {
  background: steelblue;
  width: 100%;
      height: 200px;
      font-size: 100px;
      display: flex;
      justify-items: space-around;
      align-items: flex-start;
      flex-direction: row;
      

  

}

body {
 
    margin: 0;
}

.start-btn {
   background-color: greenyellow;
   margin-left: 30%;
}


.reset-btn{
    background-color: rgb(201, 76, 76);
    margin: 6% 30% 5% 10%;
}


  .play{
    margin: 2px 20px 400px 400px;
    
    
    
 }




 

  table {
    width: 80%;
    max-width: 668px;
    max-height: 1024px;
    margin: auto;
  }


  td {
    width: 33.33%;
    position: relative;
  }
  td:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  td .Btn-One, .Btn-Two, .Btn-Three, .Btn-Four, .Btn-Five, .Btn-Six {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
 






















>>>>>>> 82f25ca47a2e8e95f963848a48dfa6977a84e8e0
